.user_wrapper_items {
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    /* margin-bottom: 20px; */
}

.name_avatar {
    width: 50px;
    border-radius: 50%;
    margin-bottom: 7px;
    margin-left: 19px;
}

.btn_wrapper {
    margin-bottom: 20px;
}

.btn {
    background: rgb(120, 177, 120);
    padding: 7px 20px;
    border: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:disabled {
    transform: translateY(2px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background: rgba(120, 177, 120, 0.808);
}

.user_info_wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(177, 172, 172, 0.4);
    border-radius: 10px;
    padding: 10px;
    height: 90px;
}

.name_info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
