.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_form {
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding: 5px 15px;
    margin-bottom: 10px;
    outline: none;
    transition: 0.3s;
}

.input_form:focus {
    box-shadow: 2px 2px 5px rgba(120, 177, 120, 0.5);
}

.check_wrapper {
    display: flex;
    align-items: center;
}

.check_wrapper input {
    margin-right: 10px;
}

.btn_wrapper {
    display: flex;
    justify-content: center;
}
