.dialog {
    color: grey;
    text-decoration: none;
}

.active {
    color: rgb(53, 49, 49);
    text-decoration: none;
}

.name_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name_avatar img {
    width: 50px;
    border-radius: 50%;
}
