* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.app-wrapper {
    margin: 20px auto;
    width: 1200px;
    display: grid;
    grid-template-areas: "header header" "nav main";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 9fr;
    grid-gap: 10px;
}

.app-wrapper-main {
    grid-area: main;
}
